.wrapper .main .mainCon { padding: 10px 30px 60px; }

.shareCon { text-align: center; }
.shareCon .sTit { line-height: 50px; height: 50px; display: block; font-size: 24px; padding: 30px 0; }
.shareCon .iSharePic { width: 168px; height: 168px; display: block; margin: 0 auto; overflow: hidden; }
.shareCon .iSharePic img { height: 168px; width: 168px; display: block; vertical-align: top; }
.shareCon .pShareStyle { text-align: center; height: 52px; padding: 60px 0; }
.shareCon .pShareStyle span { float: left; font-size: 18px; line-height: 52px; padding: 0 20px 0 280px; }
.shareCon .pShareStyle a { border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; width: 52px; height: 52px; float: left; display: inline; overflow: hidden; background: #3eb135; text-align: center; margin-right: 40px; }
.shareCon .pShareStyle a .iconfont { font-size: 32px; color: #fff; line-height: 52px; height: 52px; width: 52px; }
.shareCon .pShareStyle a:hover { background: #cc3742; }
.shareCon .pShareStyle a:hover .iconfont { color: #fff; }
.shareCon .goBackBtn { width: 170px; margin: 0 auto; display: block; }
